.row
  .col-md-4.col-md-offset-2
    = form_tag :run_parser, class: "form", method: :post, remote: true do
      .form-group
        input.form-control type="text" name="query"
        p.help-block
          | введите в строчку: ruby
          br
          | для выполнения следующего запроса: https://spb.hh.ru/search/vacancy?text=ruby
        button.btn.btn-info type="submit" Запуск сбора информации