.navbar.navbar-inverse.navbar-fixed-top role="navigation"
  .navbar-header
    = link_to "Парсер HH.ru", :root, class: "navbar-brand"
  .collapse.navbar-collapse
    ul.nav.navbar-nav
      li = link_to "Вакансии", :vacancy_index
