doctype html
html
  head
    title hhParser
    meta charset="utf-8"
    = stylesheet_link_tag "application", "media" => "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    link rel="icon" type="image/png" href="/HhParse.ico"
  body
    = render "main_nav"
    .container
      #main-content
        - flash.to_h.slice("notice", "alert").each do |type, message|
          .alert.alert-dismissible.fade.in class=(type == "alert" ? "alert-danger" : "alert-info")
            a.close href="#" data-dismiss="alert" ×
            = message
      = yield
